.footer {
  background: linear-gradient(
    3deg,
    rgba(14, 14, 139, 1) 0%,
    rgb(6, 72, 85) 0%,
    rgba(14, 58, 139, 1) 100%,
    rgba(28, 14, 139, 1) 100%
  );
}

.footerLeft {
  color: #e5f7fb;
}
.footerMiddle {
  color: #e5f7fb;
}
.footerRight {
  color: #e5f7fb;
}

.footerIcon {
  color: green;
  padding: 0.5rem;
  background-color: #e5f7fb;
  border-radius: 50%;
}
.footerIconBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
